# 忽略目录
examples/
public/
build/
node_modules/
# 忽略指定文件
vue.config.js
babel.config.js
*.map
node_modules
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

dist/
.browserslistrc
.editorconfig
.eslintrc.js
postcss.config.js